* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.appendBoardTo {
    height:100vh;
    
}



.grid {
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    place-content:center;
    
    
    
}

.border {
    text-align:center;
}

.squares {
    cursor:pointer;
    font-size: 70px;
}

#square1 {
    border-top:white;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
}
#square2 {
    border-top:white;
    
    border-bottom:1px solid black;
    
}
#square3 {
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}
#square4 {
    border-right:1px solid black;
    border-bottom:1px solid black;
    
    
}
#square5 {
    
    border-bottom:1px solid black;
    
}
#square7 {
    border-right:1px solid black;
    border-left:1px solid black;
}

#start {
    cursor: pointer;
}
.dissapear {
    display:none;
}
.absolute {
    position:absolute;
}
.hoverX {
    background-image:url(x-mark-32.png);
    opacity:0.5;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.hoverY {
    background-image:url(o-icon.png);
    opacity:0.5;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    
}